.DS_Store
utility/__pycache__/
config/aws_creds.config
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
spark-warehouse
project/*
target/*
*.xsl
*.xml
*.DS_Store
*.class
pair.parquet/
twitter.config
s3.config
checkpointing
checkpoints/
derby.log
metastore_db/
/data/yellow_tripdata_2019-06.csv
output/*
output/raw-rides/*
flink/target/streams/*
flink/project/target/config-classes/*
# intellJ
.idea/