{
  "url":             "jdbc:mysql://localhost/taxi",
  "host":            "127.0.0.1",
  "dbname":          "taxi",
  "dbtable_batch":   "fulltable",
  "dbtable_stream":  "rddbatch",
  "mode_batch":      "overwrite",
  "mode_stream":     "append",
  "user":            "mysql_user",
  "password":        "0000",
  "driver":          "com.mysql.jdbc.Driver",
  "numPartitions":   18,
  "partitionColumn": "time_slot",
  "lowerBound":      0,
  "upperBound":      144,
  "stringtype":      "unspecified",
  "topntosave":      10
}