{
  "url":             "jdbc:postgresql://127.0.0.1:5432/mydb",
  "host":            "127.0.0.1",
  "dbname":          "mydb",
  "dbtable_batch":   "fulltable",
  "dbtable_stream":  "rddbatch",
  "mode_batch":      "overwrite",
  "mode_stream":     "append",
  "user":            "yennanliu",
  "password":        "$PGPASSWORD",
  "driver":          "org.postgresql.Driver",
  "numPartitions":   18,
  "partitionColumn": "time_slot",
  "lowerBound":      0,
  "upperBound":      144,
  "stringtype":      "unspecified",
  "topntosave":      10
}